<!--<button routerLink="/articles"> Show component</button>-->

<!--<router-outlet></router-outlet>-->

<app-articles></app-articles>
<app-category></app-category>
<app-client></app-client>
<app-commande-client></app-commande-client>
<app-commande-fournisseur></app-commande-fournisseur>
<app-fournisseur></app-fournisseur>
<app-ligne-commande-client></app-ligne-commande-client>
<app-ligne-commande-fournisseur></app-ligne-commande-fournisseur>
<app-ligne-vente></app-ligne-vente>
<app-mvt-stock></app-mvt-stock>
<app-vente></app-vente>